html, body {
  height: 100%;
  margin: 0;
}

#error {
  background: darkorange;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 1rem;
}

.wrapper {
  align-items: center;
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.wrapper #paint {
  height: 50%;
  background-image: paint(checkerboard);
  margin: auto;
  width: 50%;
}